$mainColor: #034f84;
$navbarBackground: #034f84;
$navbarHover: #92a8d1;
$navbarTextColor: white;
$navbarBrandColor: #92a8d1;
$dropdownMenuBackground: #ced9f0;
$dropdownLinksHover:  #e0e7f7;
$backgroundColor: #fda4a2;
$backgroundColorLeft: #fda4a2;
$backgroundColorRight: #ffdde1;
$cardColor: #f0f2f7;
$mainButtonColor: #034f84;
$mainButtonHover: #92a8d1;
$cardHeaderColor: #d7e0f1;
$editButtonsColor: #92a8d1;
$editButtonHover: #b7c4df;
$outlineBtnColor: $mainButtonColor;
$outlineBtnEditColor: #92a8d1;
$likeColor: #f7786b;
$deleteButtonColor: #f7786b;
$deleteButtonHover: #f7351f;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  // color: $textColor;

  // word-break: break-all;
  // word-break: break-word;
}

body {
  // background-color: $backgroundColor;
  background: $backgroundColor; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $backgroundColorLeft,
    $backgroundColorRight
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $backgroundColorLeft,
    $backgroundColorRight
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .container-fluid {
    margin-top: 4rem !important;
  }

  .site-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
      flex: 1 !important;
      .container {
        margin-top: 10px;
        .card {
          background-color: $cardColor !important;
        }
        .card-header {
          background-color: $cardHeaderColor !important;
        }
        .my-main-btn {
          background-color: $mainButtonColor;
          color: white;
        }
        .my-main-btn:hover {
          background-color: $mainButtonHover;
        }
      }
    }
    footer {
      text-align: center;
      color: $navbarTextColor;
      background-color: $navbarBackground;
    }
  }
  // buttons next and back, cancel, edit
  .buttons {
    display: flex;
    justify-content: space-around !important;
    button.btn,
    a {
      display: inline !important;
      margin: 1rem 2rem;
      width: 10rem;
    }
    // a.btn-edit,
    button.btn-success {
      // background-color: #f7cac9;
      // outline: #fda7a6;
      // border-color: #ffc0bf;
      // margin-left: auto!important;
      color: white;
    }
    // button.btn-success:hover {
    //   background-color: #f7786b;
    // }
    a.btn-edit {
      background-color: $editButtonsColor;
      outline: none;
      color: white
    }
    a.btn-edit:hover {
      background-color: $editButtonHover;
    }
  }
  .my-outline-info-btn {
    color: $outlineBtnColor !important;
    border-color: $outlineBtnColor !important;
  }
  .my-outline-info-btn:hover {
    color: white !important;
    background-color: $outlineBtnColor;
  }

  .my-btn-outline-warning {
    color: $outlineBtnColor !important;
    border-color: $outlineBtnEditColor !important;
  }
  .my-btn-outline-warning:hover {
    color: white !important;
    background-color: $outlineBtnEditColor !important;
  }

  .btn-danger {
    background-color: $deleteButtonColor !important;
  }
  .btn-danger:hover{
    background-color: $deleteButtonHover!important;
  }
  .btn-outline-danger {
    color: $deleteButtonColor !important;
    border-color: $deleteButtonColor !important;
  }
  .btn-outline-danger:hover {
    color: white !important;
    background-color: $deleteButtonColor !important;
  }
}
