ul.comments li.list-group-item {
  padding: 0 0.7rem;
  a {
    text-decoration: none;
    // color: rgb(78, 26, 26);
  }
  p.text-muted {
    font-size: 0.8rem;
  }
}

.user-tiny {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .user-icon-container {
    margin: 0.7rem;
    border-radius: 50%;
  }
}

// buttons next and back, cancel, edit
.buttons-small {
  display: flex;
  justify-content: flex-end !important;
  button.btn,
  .btn-outline-warning,
  .btn-outline-success a {
    display: inline !important;
    margin: 0.1rem 0.5rem;
    width: 7rem;
  }
  a.btn-outline-warning,
  button.btn-outline-warning,
  button.btn-outline-success {
    // margin-left: auto!important;
    //   color: white;
  }
}

// .user-icon-container {
//   display: inline-block;
//   position: relative;
//   max-width: 100px;
//   max-height: 100px;
//   overflow: hidden;
//   border-radius: 50%;
//   margin: 1rem ;
//   .user-icon {
//     width: 100%;
//     height: 100%;
//     // margin: 0 auto;
//     // margin-left: -25px;
//   }
// }
