.form-inline {
  label {
    justify-content: flex-end !important;
  }
}

// override Bootstrap delete icon (X)
.form-control.is-invalid,
.form-control:invalid {
  background-image: none;
}

textarea.form-control{
  width: 100%!important;
  white-space: pre-wrap!important
}


.invalid-feedback {
  display: block;
  width: 100%;
  margin-left: auto;
  font-size: 100%!important;
  // text-align: center;
}


input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  
}
