p.post-body {
  white-space: pre-wrap;
}

.likes {
  border: none;
  background-color: $cardColor;

  .fa.fa-heart {
    font-size: 2rem;
    padding: 0.5rem;
    color: $navbarHover;

    // color: palevioletred;
  }

 


}

.likes:focus {
  outline: none;
}

.fa.fa-heart.liked {
    color:$likeColor;
}
