// https://lipis.github.io/bootstrap-social/

.btn {
    text-align: center;
}
.btn-google{
    background-color: #DD4B39;
    color: white;
    i{
        padding: 5px;
    }
}
.btn-google:hover{
    background-color: rgb(179, 52, 35)!important;
    color: white;
    // opacity: !important;
}


.btn-github{
    background-color: #444444;
    color: white;
    i{
        padding: 5px;
    }
}
.btn-github:hover{
    background-color: black!important;
    color: white;
    // opacity: !important;
}

.btn-twitter{
    background-color: #38A1F3;
    color: white;
    i{
        padding: 5px;
    }
}
.btn-twitter:hover{
    background-color: #00B6F1!important;
    color: white;
    // opacity: !important;
}

i.fa-sign-out{
    color: white;
    padding: 5px;
}