ul.list-group.list-group-flush {
  li.list-group-item {
    display: flex !important;
    dt {
      font-size: 0.8rem;
    }
input{
    font-size: 1.1rem;
}
    .radio-buttons {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    label {
      font-size: 0.8rem;
    }
    .form-check-label {
      margin: 0 0.2rem;
      font-size: 1.1rem;
      display: block !important;
      input {
        display: inline !important;
      }
    }
  }
}

.card-group {
  button.btn,
  a {
    display: inline !important;
    margin: 1rem 2rem;
    width: 10rem;
  }
  a.btn-warning,
  button.btn-success {
    margin-left: auto;
    color: white;
  }
}
