ul.list-group.list-group-flush {
  li.list-group-item {
    display: flex !important;
    flex-wrap: wrap;
    dt {
      font-size: 0.8rem;
    }
    input {
      font-size: 1.1rem;
    }
    .radio-buttons {
      display: flex;
      flex-direction: column;
      width: 65%;
    }
    label {
      font-size: 0.8rem;
    }
    .form-check-label {
      margin: 0 0.2rem;
      font-size: 1.1rem;
      display: block !important;
      input {
        display: inline !important;
      }
    }
    // .invalid-feedback {
    //   display: block;
    //   width: 100%;
    //   margin-left: auto;
    //   font-size: 100%!important;
    //   // text-align: center;
    // }
    // // override Bootstrap delete icon (X)
    // .form-control.is-invalid,
    // .was-validated .form-control:invalid {
    //   background-image: none;
    // }
  }
}




