.user-compact-body{
display: flex!important;
flex-direction: column;
.profile-btn{
    margin-top: auto;
    margin-bottom: 0.1rem;
    // .my-main-btn{
    //     background-color: $mainButtonColor;
    // }
    // .my-main-btn:hover{
    //     background-color: $mainButtonHover;
    // }
    a{
        width: 50%;
    }
}
}


